[submodule "JavaScript_intro"]
	path = JavaScript_intro
	url = https://gist.github.com/dcoleman21/6c352e23106a6f3bd1cb8fe5b38c18a6
[submodule "Variables,"]
	path = Variables,
	url = https://gist.github.com/dcoleman21/dfbcb95da704e85c9bc2568c2cd06456
[submodule "dog_years_exercise"]
	path = dog_years_exercise
	url = https://gist.github.com/dcoleman21/208b9618352275a4dd7f8015e40834fc
[submodule "understanding_conditional_statements"]
	path = understanding_conditional_statements
	url = https://gist.github.com/dcoleman21/d82a45fc1ef9af044c19551a4ce64cdb
[submodule "magic_eight_ball_example"]
	path = magic_eight_ball_example
	url = https://gist.github.com/dcoleman21/8e09fe6175fba3d09ed2365616810f7e
[submodule "understanding_functions"]
	path = understanding_functions
	url = https://gist.github.com/dcoleman21/8b29af8e9bb76a3972f2c25480f199f1
[submodule "rock_paper_scissors_game"]
	path = rock_paper_scissors_game
	url = https://gist.github.com/dcoleman21/024318173ecd7ed251fabd42f40e743f
