[submodule "JavaScript_intro"]
	path = JavaScript_intro
	url = https://gist.github.com/dcoleman21/6c352e23106a6f3bd1cb8fe5b38c18a6
[submodule "Variables,"]
	path = Variables,
	url = https://gist.github.com/dcoleman21/dfbcb95da704e85c9bc2568c2cd06456
[submodule "dog_years_exercise"]
	path = dog_years_exercise
	url = https://gist.github.com/dcoleman21/208b9618352275a4dd7f8015e40834fc
[submodule "understanding_conditional_statements"]
	path = understanding_conditional_statements
	url = https://gist.github.com/dcoleman21/d82a45fc1ef9af044c19551a4ce64cdb
[submodule "magic_eight_ball_example"]
	path = magic_eight_ball_example
	url = https://gist.github.com/dcoleman21/8e09fe6175fba3d09ed2365616810f7e
[submodule "understanding_functions"]
	path = understanding_functions
	url = https://gist.github.com/dcoleman21/8b29af8e9bb76a3972f2c25480f199f1
[submodule "rock_paper_scissors_game"]
	path = rock_paper_scissors_game
	url = https://gist.github.com/dcoleman21/024318173ecd7ed251fabd42f40e743f
[submodule "understanding_scope"]
	path = understanding_scope
	url = https://gist.github.com/dcoleman21/1371d02e62abc4bae96bf7762489b425
[submodule "understanding_arrays_or_lists"]
	path = understanding_arrays_or_lists
	url = https://gist.github.com/dcoleman21/db6bd1aa509a5089598546a2b27cde47
[submodule "understanding_loops"]
	path = understanding_loops
	url = https://gist.github.com/dcoleman21/35436c6fd3bab8032c05feb8bed5d719
[submodule "whale_talk_looping_example"]
	path = whale_talk_looping_example
	url = https://gist.github.com/dcoleman21/22432e4a26f399146222ff2002a486f8
[submodule "understanding_higher_order_functions"]
	path = understanding_higher_order_functions
	url = https://gist.github.com/dcoleman21/09877327e76f3bea9f58bf7589baaa9d
[submodule "understanding_iterators"]
	path = understanding_iterators
	url = https://gist.github.com/dcoleman21/a220fd33cb034e53a2b1d54500a3f19e
